$dark: #263238;
$dark-grey: #313c42;
$white: #cfd8dc;
$white-gray: #bfc9ce;
$red: #ed1c24;

@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

body {
  background-color: $dark;
  color: #fff;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

.headline {
  text-align: center;
  margin-bottom: 60px;
}

.container-cta {
  $box-shadow-offset: 5px;

  color: #fff;
  min-height: 200px;

  .text {
    min-height: 240px;
    display: block;
    font-size: 24px;
  }

  .cardholder {
    position: relative;
    top: 20px;
    right: 50px;

    .top-image {
      $animation-type: linear;
      $animation-duration: 0.4s;

      position: absolute;
      height: 11vw;
      border-radius: 5px;

      &.left {
        animation: rotate $animation-duration $animation-type;
        transform: rotate(5deg);
      }

      &.center {
        z-index: 1;
      }

      &.right {
        animation: minusRotate $animation-duration $animation-type;
        transform: rotate(-5deg);
      }

      @keyframes rotate {
        0% {
          transform: none;
        }
        100% {
          transform: rotate(5deg);
        }
      }

      @keyframes minusRotate {
        0% {
          transform: none;
        }
        100% {
          transform: rotate(-5deg);
        }
      }
    }
  }

  .item-box-image {
    width: 100%;
  }

  .cta-button {
    border-color: $red;
    background: $dark-grey;
    border-style: solid;
    border-width: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 30px;
    transition: all 0.5s linear;
    text-decoration: none;
    color: #fff;

    @include mobile {
      display: block;
      padding: 15px 7px;
      font-size: 30px;
    }

    img {
      position: relative;
      top: -3px;
    }

    &:hover {
      background-color: $dark;
    }
  }

  .card-image {
    @include mobile {
      display: none;
    }
  }
}

.item-description {
  .decription-holder {
    overflow: hidden;
    position: relative;

    .full-height {
      position: absolute;
      left: 40%;
      height: 85%;

      @include mobile {
        position: static;
        left: auto;
        height: auto;
      }
    }
  }

  .item-box-image {
    width: 100%;
  }

  .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    p {
      font-size: 18px;
    }
  }
}

.container-cards {
  padding: 0 0 50px 0;
}

// .container-cards {
//   .card-row {
//     $font-size: 27px;

//     display: flex;
//     justify-content: space-around;

//     &:not(:first-child) {
//       margin-top: 30px;
//     }

//     .card {
//       span {
//         font-size: $font-size;
//       }

//       .icon-image {
//         width: calc(#{$font-size} * 1.53);
//       }
//     }
//   }
// }

.huge-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  @include mobile {
    padding: 0;
  }

  .cta-button {
    border-color: $red;
    background: $dark-grey;
    border-style: solid;
    border-width: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 40px;
    font-size: 80px;
    transition: all 0.15s linear;
    text-decoration: none;
    color: #fff;

    @include mobile {
      display: block;
      padding: 10px 20px;
      font-size: 46px;
      text-align: center;
    }

    img {
      position: relative;
      top: -7px;
    }

    &:hover {
      background-color: $red;
    }
  }
}

footer {
  background-color: $white-gray;
  color: $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 25px 0;
  position: absolute;
  left: 0;
  right: 0;

  a {
    color: $dark;
    text-decoration: underline;
  }

  .top {
    text-align: center;
  }

  .middle {
    margin: 55px 0;

    .cta {
      border-color: $dark-grey;
      background: $white;
      border-style: solid;
      border-width: 10px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 15px 40px;
      font-size: 24px;
      transition: all 0.15s linear;
      text-decoration: none;

      &:hover {
        background-color: $white-gray;
        color: $dark;
      }
    }
  }
}

.divider {
  margin: 40px;
  text-align: center;
  justify-content: center;
  display: flex;

  &:before {
    content: "";
    display: block;
    background: #bfc9ce;
    width: 50%;
    height: 1px;
  }
}
